<div class="posts">
    <img ng-src="{{project.image}}" alt="">
    <h1 class="content-subhead">{{project.name}}</h1>
    <p class="post-description">{{project.description}}</p>
    <p class="content-subhead-meta">
        <a ng-href="{{project.organization}}">Organization</a> | <a ng-href="{{project.specification}}">Specification</a>
    </p>

    <div ng-show="modules.length === 0">
        <p>No modules available yet.</p>
    </div>
    
    <section class="post" ng-hide="modules.length === 0" ng-repeat="module in modules | orderBy:'name'">
        <header class="post-header">
            <img ng-src="{{module.icon}}" alt="" width="48" height="48" class="post-avatar">
            <h2 class="post-title">{{module.name}} <a ng-href="{{module.repository}}"><img src="/assets/img/github.png" width="24" height="24" alt="github"></a></h2>
            <p class="post-meta">
                <a ng-href="{{badge.href}}" ng-repeat="badge in module.badges"><img ng-src="{{badge.image}}" /></a>
            </p>
            <div class="post-description">
                <p>{{module.description}}</p>
            </div>
        </header>
    </section>
</div>
